<launch>
  <!-- RDP Node-->
  <node pkg="RDP" 
        type="SpeechRecognition" 
		name="speech_recognition"
        output="screen"
		respawn="false"
  />
  <node pkg="RDP" 
        type="UserRecognition" 
		name="user_recognition"
        output="screen"
		respawn="false"
  />
  <node pkg="RDP"
        type="Unity"
        name="unity"
        output="screen"
        respawn="false"
  />
  <node pkg="RDP"
        type="SPP"
        name="spp_command_sender"
        output="screen"
        respawn="false"
  />
  <node pkg="RDP"
		  type="MotionCapture"
		  name="motion_capture_ui"
		  output="screen"
		  respawn="false"
  />
</launch>
